:root {
  --accentColor: #b366ff;
}

.column {
  display: flex;
  flex-direction: column;
}

.layout {
  position: relative;
  min-height: 100vh;
}

.layout::after {
  display: block;
  content: '';
  height: 7.0875rem;
}
