.styled-link {
  text-decoration: underline;
  color: var(--accent-color);
}

.styled-link:hover {
  color: var(--accent-color);
}

.styled-link:visited {
  color: var(--accent-color);
}

.styled-link--inverse {
  text-decoration: underline;
  color: #fff;
}

.styled-link--inverse:hover {
  color: #fff;
}

.styled-link--inverse:visited {
  color: #fff;
}
